@{
    ViewBag.Title = "Covan";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
            <br />
            <br />
        </div>
        @for (int i = 0; i < 3; i++)
        {
            <div class="col-xs-12 text-center">

                <h1 class="bg-info" style="text-shadow: gray 5px 3px 3px;">有脑必过！！！</h1>

            </div>
        }


    </div>
    <br />
    <br />

</div>

<footer class="text-center"><a class="text-muted" target="_blank" href="http://www.miitbeian.gov.cn/">闽ICP备15010169号</a></footer>