@{
    ViewBag.Title = "Tiny's WebSite";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
            <br />
            <br />
        </div>
        <div class="col-xs-12 text-center">

            <h1 class="bg-info" style="text-shadow: gray 5px 3px 3px;">This is <a href="@Url.Action("Index","Home")" class="text-primary h3">Tiny</a>'s Website, it is under construction...</h1>

        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-12 text-center h4">
            <address>
                <strong>New Strait NewsOffice, Inc.</strong><br>
                Hengxiang Building 16F, Quanxiu Street<br>
                Quznzhou, Fujian, China<br>
                <abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr> 151-0602-1522
            </address>

            <address>

                <strong>Tiny Fong</strong><br>
                <a href="mailto:tinyfong1989@gmail.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;tinyfong1989@gmail.com</a>
            </address>
        </div>
    </div>
</div>

