@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="">Reach后台管理</h1>
        </div>
        <div class="col-xs-12  text-right">
            <a href="#"><span class="glyphicon glyphicon-cog"></span> 修改密码</a>
            &nbsp;&nbsp;
            <a href="#"><span class="glyphicon glyphicon-log-out"></span> 退出登录</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <a href="#" class="list-group-item">视频管理</a>
            <a href="#" class="list-group-item">站点设定</a>

        </div>
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

</div>

