<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BloggingContext" connectionString="data source=(localdb)\v11.0;initial catalog=Reach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;AttachDBFilename=|DataDirectory|\Database1.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>