@{
    ViewBag.Title = "案例展示";
    Layout = "~/Areas/Portal/Views/Shared/_HomeLayout.cshtml";
    var videoList = ViewBag.VideoList as List<Video>;
}

@section scripts {
    <script>
        $('#myModal').on('show.bs.modal', function (e) {
            var $invoker = $(e.relatedTarget);
            var $url = $($invoker).attr('data-url')
            $('#player').attr('src', $url);
        });
    </script>
}


<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>视频分类</h3></div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="@Url.Action("Index", "Showcase")"><span class="h4">全部</span></a><span class="badge">新</span></li>
                </ul>

            </div>
        </div>

        <div class="col-xs-9">
            <div class="row">
                @foreach (var video in videoList)
                {
                    <div class="col-xs-4">
                        <a href="#" class="thumbnail" data-toggle="modal"
                           data-target="#myModal" data-url="@video.Url">
                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(video.BigThumbnail))"
                                 alt="">
                        </a>
                        <div class="caption">
                            <h6 class="text-center">@video.Name</h6>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe id="player" src="" frameborder="0" allowfullscreen="1"></iframe>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<style>
    .modal-dialog {
        width: 75%;
    }
</style>